@import '../utils/index';

.book {
    form>*+* {
        margin-top: $container-spacing;
    }

    &__header {
        font-size: 1.6rem;
        font-weight: bolder;

        a {
            text-decoration: underline;
        }

        +* {
            margin-top: 1.5rem;
        }
    }

}