@import "../utils/index";
.image-uploader {
    >*+* {
        margin-top: $container-spacing;
    }
    &__image {
        height: 400px;  
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain
    }
}